---
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout title="404">
  <div class="flex flex-col h-96 items-center justify-center">
    <h1 class="text-5xl">404</h1>
    <h1 class="text-3xl">Resource Not Found</h1>
  </div>
</BaseLayout>